.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  grid-row: 1/2;
  margin: 0;
  padding: 0;
  max-width: 460px;
}
@media (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}
@media (max-width: 768px) {
  .place__title {
    font-size: 42px;
    max-width: 340px;
  }
}
@media (max-width: 650px) {
  .place__title {
    grid-area: title;
  }
}
@media (max-width: 320px) {
  .place__title {
    width: 288px;
    margin: 0 auto;
    font-size: 32px;
  }
}
