.page {
  margin: 0 auto;
  max-width: 1280px;
  padding: 28px 0 24px 0;
  box-sizing: border-box;
}
@media (max-width: 1024px) {
  .page {
    max-width: 1024px;
  }
}
@media (max-width: 768px) {
  .page {
    max-width: 768px;
  }
}
@media (max-width: 320px) {
  .page {
    max-width: 320px;
  }
}
