.photo-grid{
  margin: 92px auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(calc((100% - 48px)/4), 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  max-width: 100%;
}
@media screen and (max-width: 1100px){
  .photo-grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1024px){
  .photo-grid{
    gap: 14px;
  }
}
@media  screen and (max-width:896px){
  .photo-grid{
    margin: 88px auto;
    gap: 16px;
  }
}
@media screen and (max-width:768px){
  .photo-grid{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
@media  screen and (max-width: 650px){
  .photo-grid{
    margin: 80px auto;
  }
}
@media screen and (max-width:576px){
  .photo-grid{
    margin: 74px auto;
  }
}
@media screen and (max-width: 425px){
  .photo-grid{
    gap: 14px;
    margin: 64px auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
  }
}
@media screen and (max-width:320px){
  .photo-grid{
    gap: 12px;
  }
}
