.place__image {
  width: 460px;
  height: 460px;
  grid-row: 2/4;
  grid-column: 1/2;
  margin: 0;
  padding: 0;
  object-fit: contain;
}
@media (max-width: 1024px) {
  .place__image {
    width: 440px;
    height: 440px;
  }
}
@media (max-width: 768px) {
  .place__image {
    width: 340px;
    height: 340px;
  }
}
@media (max-width: 650px) {
  .place__image {
    grid-area: image;
  }
}
@media (max-width: 425px) {
  .place__image {
    max-width: 100%;
  }
}
@media (max-width: 320px) {
  .place__image {
    height: 320px;
  }
}
