.intro_theme_position {
  margin-top: 92px;
  padding: 0 148px;
}
@media (max-width: 1100px) {
  .intro_theme_position {
    padding: 0 58px;
  }
}
@media (max-width: 1024px) {
  .intro_theme_position {
    padding: 0 48px;
  }
}
@media (max-width: 768px) {
  .intro_theme_position {
    margin-top: 88px;
    padding: 0 24px;
  }
}
@media (max-width: 320px) {
  .intro_theme_position {
    padding: 0 16px;
    margin-top: 64px;
  }
}
