.cover__subtitle {
  margin: 0;
  max-width: 360px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  grid-row: 2;
  grid-column: 1;
  z-index: 1;
  justify-self: center;
}
@media screen and (max-width:576px){
  .cover__subtitle{
    max-width: 320px;
  }
}
@media screen and (max-width: 425px){
  .cover__subtitle{
    font-size: 16px;
    max-width: 380px;
  }
}
@media screen and (max-width:320px){
  .cover__subtitle{
    font-size: 14px;
    max-width: 288px;
  }
}
