.place__paragraphs {
  max-width: 484px;
  grid-row: 2/4;
  grid-column: 2/3;
}
@media (max-width: 1024px) {
  .place__paragraphs {
    max-width: 456px;
  }
}
@media (max-width: 768px) {
  .place__paragraphs {
    max-width: 352px;
  }
}
@media (max-width: 650px) {
  .place__paragraphs {
    grid-area: text;
    max-width: 602px;
  }
}
@media (max-width: 320px) {
  .place__paragraphs {
    width: 288px;
    margin: 0 auto;
  }
}
