.place__paragraphs{
  max-width: 484px;
  grid-row: 2/4;
  grid-column: 2/3;
}
@media (max-width: 1100px){
  .place__paragraphs{
    max-width: 494px;
  }
}
@media (max-width: 1024px){
  .place__paragraphs{
    max-width: 456px;
  }
}
@media (max-width:896px){
  .place__paragraphs{
    max-width: 397px;
  }
}
@media (max-width:768px){
  .place__paragraphs{
    max-width: 352px;
  }
}
@media (max-width: 650px){
  .place__paragraphs{
    max-width: 602px;
    grid-area: text;
  }
}
@media (max-width:576px){
  .place__paragraphs{
    max-width: 528px;
  }
}
@media (max-width: 425px){
  .place__paragraphs{
    max-width: 100%;
    margin: 0 auto;
  }
}
@media (max-width:320px){
  .place__paragraphs{
    width: 288px;
  }
}
