.cover_section{
  margin-top: 0;
  margin-bottom: 92px;
  padding: 0 48px;
}
@media screen and (max-width:1024px){
  .cover_section{
    padding: 0;
  }
}
@media screen and (max-width:768px){
  .cover_section{
    margin-bottom: 88px;
  }
}
@media (max-width: 650px){
  .cover_section{
    margin-bottom: 80px;
  }
}
@media (max-width:576px){
  .cover_section{
    margin-bottom: 74px;
  }
}
@media (max-width: 425px){
  .cover_section{
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
@media (max-width:320px){
  .cover_section{
    margin-top: 66px;
    margin-bottom: 64px;
  }
}
