.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  margin: 0 auto 32px auto;
  padding: 0;
  max-width: 720px;
}
@media (max-width: 700px) {
  .lead__title {
    font-size: 80px;
  }
}
@media (max-width: 650px) {
  .lead__title {
    font-size: 76px;
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .lead__title {
    font-size: 56px;
  }
}
@media (max-width: 425px) {
  .lead__title {
    max-width: 380px;
    font-size: 42px;
    line-height: 1.1;
    margin: 0 auto 16px auto;
  }
}
@media (max-width: 320px) {
  .lead__title {
    font-size: 40px;
    max-width: 288px;
  }
}
