.place__paragraph{
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
.place__paragraph:nth-of-type(2){
  margin-top: 26px;
  grid-row-start: 3;
  grid-column: 2/3;
}
@media (max-width:768px){
  .place__paragraph{
    font-size: 16px;
  }
  .place__paragraph:nth-of-type(2){
    margin-top: 25px;
  }
}
@media (max-width: 650px){
  .place__paragraph{
    font-size: 14px;
  }
}
@media (max-width:576px){
  .place__paragraph:nth-of-type(2){
    margin-top: 20px;
  }
}
@media (max-width: 425px){
  .place__paragraph{
    font-size: 16px;
    margin: 0;
    text-align:left;
  }
  .place__paragraph:nth-of-type(2){
    margin-top: 25px;
  }
}
