.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}
@media (max-width: 650px) {
  .footer__copyright {
    font-size: 12px;
  }
}
@media (max-width: 425px) {
  .footer__copyright {
    text-align: left;
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .footer__copyright {
    flex-direction: column;
    align-items: flex-start;
    max-width: 288px;
  }
}
