.intro_section{
  margin-top: 92px;
}
@media screen and (max-width: 1100px){
  .intro_section{
    margin-top: 92px;
  }
}
@media screen and (max-width: 1024px){
  .intro_section{
    margin-top: 92px;
  }
}
@media screen and (max-width:768px){
  .intro_section{
    margin-top: 88px;
  }
}
@media  screen and (max-width: 650px){
  .intro_section{
    margin-top: 80px;
  }
}
@media screen and (max-width:576px){
  .intro_section{
    margin-top: 74px;
  }
}
@media screen and (max-width: 425px){
  .intro_section{
    margin-top: 64px;
  }
}
