.intro__text{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 33px 0;
  padding: 0;
  max-width: 100%;
}
@media  screen and (max-width: 650px){
  .intro__text{
    margin: 0 auto 28px auto;
  }
}
@media screen and (max-width: 425px){
  .intro__text{
    margin: 0 0 36px 0;
    }
}
@media screen and (max-width:320px){
  .intro__text{
    margin: 0 auto 34px auto;
  }
}
