.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto 64px auto;
  padding: 0;
  max-width: 640px;
}
@media (max-width: 1024px) {
  .lead__subtitle {
    margin: 0 auto 56px auto;
  }
}
@media (max-width: 650px) {
  .lead__subtitle {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .lead__subtitle {
    font-size: 25px;
    margin: 0 auto 48px auto;
  }
}
@media (max-width: 425px) {
  .lead__subtitle {
    max-width: 380px;
  }
}
@media (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    margin: 0 auto 40px auto;
    max-width: 288px;
  }
}
