.place__link {
  text-decoration: none;
  border-bottom: 1px solid white;
  color: #fff;
  text-align: left;
  transition: opacity 0.3s linear;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}
.place__link:hover {
  opacity: 0.8;
  cursor: pointer;
}
