.content__section{
  width: 100%;
  box-sizing: border-box;
  padding: 0 48px;
}
@media screen and (max-width:768px){
  .content__section{
    padding: 0 24px;
  }
}
@media screen and (max-width:320px){
  .content__section{
    padding: 0 16px;
  }
}
