.photo-grid_theme_position {
  margin-top: 92px;
  margin-bottom: 92px;
  padding: 0 48px;
}
@media (max-width: 768px) {
  .photo-grid_theme_position {
    padding: 0 24px;
    margin-top: 88px;
    margin-bottom: 88px;
  }
}
@media (max-width: 320px) {
  .photo-grid_theme_position {
    padding: 0 16px;
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
