.lead__caption {
  margin: 8px 0 0 0;
  padding: 0;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}
@media (max-width: 320px) {
  .lead__caption {
    margin-left: 16px;
  }
}
