.cover__title {
  margin: 0;
  max-width: 560px;
  font-size: 72px;
  line-height: 1.05;
  font-weight: 900;
  text-align: center;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  justify-self: center;
  align-self: end;
}
@media (max-width:768px){
  .cover__title{
    margin: 0 auto 32px auto;
  }
}
@media (max-width: 650px){
  .cover__title{
    font-size: 68px;
    max-width: 550px;
  }
}
@media (max-width:576px){
  .cover__title{
    font-size: 62px;
  }
}
@media (max-width: 425px){
  .cover__title{
    font-size: 34px;
    margin: 0 0 16px 0;
    max-width: 300px;
  }
}
@media (max-width:320px){
  .cover__title{
    font-size: 32px;
    max-width: 288px;
  }
}
