.place {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr min-content max-content;
  gap: 48px 40px;
  max-width: 100%;
}
.place:last-of-type {
  margin: 0;
}
@media (max-width: 1024px) {
  .place {
    gap: 48px 32px;
  }
}
@media (max-width: 896px) {
  .place {
    gap: 48px 28px;
  }
}
@media (max-width: 768px) {
  .place {
    margin-bottom: 73px;
  }
}
@media (max-width: 650px) {
  .place {
    gap: 46px 0;
    margin: 0 auto 68px auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "url"
      "image"
      "text";
  }
}
@media (max-width: 576px) {
  .place {
    margin: 0 auto 50px auto;
    gap: 32px 0;
  }
}
