.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  box-sizing: border-box;
}
@media (max-width: 576px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
}
