.place__website {
  max-width: 456px;
  margin: 0;
  align-self: self-end;
}
@media (max-width: 768px) {
  .place__website {
    max-width: 352px;
  }
}
@media (max-width: 650px) {
  .place__website {
    grid-area: url;
  }
}
@media (max-width: 320px) {
  .place__website {
    width: 288px;
    margin: 0 auto;
  }
}
