.place__website{
  max-width: 456px;
  margin: 0;
  align-self: self-end;
}
@media (max-width: 1100px){
  .place__website{
    max-width: 494px;
  }
}
@media (max-width:896px){
  .place__website{
    max-width: 397px;
  }
}
@media (max-width:768px){
  .place__website{
    max-width: 352px;
  }
}
@media (max-width: 650px){
  .place__website{
    max-width: 296px;
  }
}
@media (max-width:576px){
  .place__website{
    max-width: 260px;
  }
}
@media (max-width: 425px){
  .place__website{
    max-width: 100%;
    margin: 0;
    grid-area: url;
  }
}
@media (max-width:320px){
  .place__website{
    width: 288px;
    margin: 0 auto;
  }
}
